@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to my API!</h1>
<p>This is the homepage for my API. Check out the <a href="/swagger">Swagger documentation</a> to see the available endpoints.</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
